* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
    opacity: 0.5;
}

img {
    width: 100%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66666%;
}

.col-7 {
    width: 58.33333%;
}

.col {
    padding: 0 8px;
}

.col-6 {
    width: 50%;
}

.col-12 {
    width: 100%;
}

.event-box p {
    margin: 15px 0;
}